*{
   margin: 0px;
   padding: 0px;
}
.boldText{
   font-size: 18px;
   font-weight: 700;

}
#NavbarDiv{
   /* position: fixed; */
   background-color: #f4f3ee;
   width: 100%;
}

#NavbarSpace li {
   margin-left: 20px;
   display: flex;
   justify-content: center;
}